<header>
	<h1> Photos </h1>
	<div class="searchBar">
		<form id="searchingForm">
      <input class="search" type="text" placeholder="what track u wnt?" value=""/>
      <input id="search_submit" value="click" type="button">
	</div>
</header>

<article class="selectedImage">
	<div class="maroonStip"></div>

	<p class="imageTitle"></p>
</article>

<div class="imageGrid">
	<ul>
		<% @photos.each do |p| %>
		    <%= p.image_url %><br>
		<% end %>
	</ul>
<!-- 	pagination-->
</div>

<footer>

</footer>

