<header>
	<h1> Photos </h1>
	<div class="searchBar">
		<form action="/" >
	    <input type="text" name="search" placeholder="🔎" required>
	    <input type="submit" value="Search">
		</form>
	</div>
</header>

	<article id="selectedImage">
		<div class="maroonStip"></div>
			<img id="bigImage" src="" width="1000" height="480">
		<nav class="navsocial">
			<img class="social" src="../images/social.png">
			<p class="share">SHARE</p>
		</nav>
	</article>

<div class="imageGrid">
	<ul>
		<% if @photos %>
				<% @photos.each do |p| %>
				   <li> <img class="flickImg" src=<%= p.image_url %>> </li>
				<% end %>
		<% end %>
	</ul>
<%= will_paginate @photos, previous_label: "<", next_label: ">" , :class => 'pagination' %>
</div>

<footer>

</footer>

