<header>
	<h1> Photos </h1>
	<div class="searchBar">
		<form action="/" >
	    <input type="text" name="search" placeholder="search">
	    <input type="submit" value="Search">
		</form>

	</div>
</header>

<article class="selectedImage">
	<div class="maroonStip"></div>

	<p class="imageTitle"></p>
</article>

<div class="imageGrid">
	<ul>
		<% if @photos %>
			<% @photos.each do |p| %>
			    <img src=<%= p.image_url %>><br>
			<% end %>
		<% end %>
	</ul>
<!-- 	pagination-->
</div>

<footer>

</footer>

