<header>
	<h1> Photos </h1>
	<div class="searchBar">
	</div>
</header>

<article class="selectedImage">
	<div class="maroonStip"></div>

	<p class="imageTitle"></p>
</article>

<div class="imageGrid">
	<ul>

	</ul>
<!-- 	pagination-->
</div>

<footer>

</footer>

