<header>
	<h1> Photos </h1>
	<div class="searchBar">
		<%= form_for :search%>
		  <%= f.text_field :searchtag %><br />
		 <%= f.submit %>
		<% end %>
	</div>
</header>

<article class="selectedImage">
	<div class="maroonStip"></div>

	<p class="imageTitle"></p>
</article>

<div class="imageGrid">
	<ul>
		<% @photos.each do |p| %>
		    <img src=<%= p.image_url %>><br>
		<% end %>
	</ul>
<!-- 	pagination-->
</div>

<footer>

</footer>

